Repository SubnauticaNitrox/Nitrox, pull requests merged in 2022-10, with the labels that each got.

#1867 Fix player color for different players
  NitroxClient/ClientAutoFacRegistrar.cs
  NitroxClient/GameLogic/LocalPlayer.cs
  NitroxClient/GameLogic/PlayerLogic/PlayerModel/ColorSwap/ColorSwapAsyncOperation.cs
  NitroxClient/GameLogic/PlayerLogic/PlayerModel/ColorSwap/HsvSwapper.cs
  NitroxClient/GameLogic/PlayerLogic/PlayerModel/ColorSwap/RebreatherColorSwapManager.cs
  NitroxClient/GameLogic/PlayerLogic/PlayerModel/PlayerModelManager.cs
  NitroxClient/GameLogic/PlayerManager.cs
  NitroxClient/MonoBehaviours/Multiplayer.cs
  NitroxModel/MultiplayerSession/PlayerSettings.cs
Labels: Area: graphics

#1819 Fix many building bugs
  Nitrox.Test/Serialization/WorldPersistenceTest.cs
  NitroxClient/Communication/Packets/Processors/DeconstructionCompletedProcessor.cs
  NitroxClient/GameLogic/Bases/GeometryRespawnManager.cs
  NitroxClient/GameLogic/Bases/Spawning/BasePiece/BaseBioReactorSpawnProcessor.cs
  NitroxClient/GameLogic/Bases/Spawning/BasePiece/BaseMoonpoolSpawnProcessor.cs
  NitroxClient/GameLogic/Bases/Spawning/BasePiece/BasePieceSpawnPrioritizer.cs
  NitroxClient/GameLogic/Bases/Spawning/BasePiece/BasePieceSpawnProcessor.cs
  NitroxClient/GameLogic/Bases/Spawning/BasePiece/BaseWaterParkProcessor.cs
  NitroxClient/GameLogic/Bases/Spawning/BasePiece/MapRoomSpawnProcessor.cs
  NitroxClient/GameLogic/Building.cs
  NitroxClient/MonoBehaviours/Overrides/MultiplayerBuilder.cs
  NitroxClient/MonoBehaviours/ThrottledBuilder.cs
  NitroxModel-Subnautica/DataStructures/GameLogic/Buildings/Rotation/Metadata/AnchoredFaceBuilderMetadata.cs
  NitroxModel-Subnautica/DataStructures/GameLogic/Buildings/Rotation/SubnauticaRotationMetadataFactory.cs
  NitroxModel/Packets/DeconstructionCompleted.cs
  NitroxPatcher/Patches/Dynamic/Base_CopyFrom_Patch.cs
  NitroxPatcher/Patches/Dynamic/Base_SetFace_Patch.cs
  NitroxServer/Communication/Packets/Processors/DeconstructionCompletedPacketProcessor.cs
  NitroxServer/GameLogic/Bases/BaseManager.cs
Labels: Area: bases

#1879 Fixed world list not focusing correctly on the items
  NitroxLauncher/Models/WpfControlHelper.cs
  NitroxLauncher/Pages/ServerPage.xaml
  NitroxLauncher/Pages/ServerPage.xaml.cs
  NitroxServer/Serialization/World/WorldManager.cs
  NitroxServer/Server.cs
Labels: Type: bug, Area: user interface (launcher)

#1881 Changed join process to be async
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatedState/SessionJoinedStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatedState/SessionReservationRejectedStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatedState/SessionReservedStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatingState/AwaitingReservationCredentialsStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatingState/AwaitingSessionReservationStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatingState/EstablishingSessionPolicyStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/ConnectionState/DisconnectedStateTests.cs
  Nitrox.Test/Client/Communication/MultiplayerSession/MultiplayerSessionMangerTests.cs
  NitroxClient/Communication/Abstract/IClient.cs
  NitroxClient/Communication/Abstract/IMultiplayerSession.cs
  NitroxClient/Communication/Abstract/IMultiplayerSessionConnectionState.cs
  NitroxClient/Communication/MultiplayerSession/ConnectionState/AwaitingReservationCredentials.cs
  NitroxClient/Communication/MultiplayerSession/ConnectionState/AwaitingSessionReservation.cs
  NitroxClient/Communication/MultiplayerSession/ConnectionState/CommunicatingState.cs
  NitroxClient/Communication/MultiplayerSession/ConnectionState/ConnectionNegotiatedState.cs
  NitroxClient/Communication/MultiplayerSession/ConnectionState/Disconnected.cs
  NitroxClient/Communication/MultiplayerSession/ConnectionState/EstablishingSessionPolicy.cs
  NitroxClient/Communication/MultiplayerSession/MultiplayerSessionManager.cs
  NitroxClient/Communication/NetworkingLayer/LiteNetLib/LiteNetLibClient.cs
  NitroxClient/MonoBehaviours/Discord/DiscordClient.cs
  NitroxClient/MonoBehaviours/Gui/MainMenu/JoinServer.cs
  NitroxClient/MonoBehaviours/Gui/MainMenu/MainMenuMultiplayerPanel.cs
Labels: Area: user interface (game)

#1880 Fixed scroll bar spacing in world list view
  NitroxLauncher/App.xaml
  NitroxLauncher/Models/Converters/ObjectIsInstanceOfTypeConverter.cs
Labels: Area: user interface (launcher)
