Repository SubnauticaNitrox/Nitrox, pull requests merged in 2025-01, with the labels that each got.

#2213 Sync infection anim
  Nitrox.Test/Patcher/Patches/PatchesTranspilerTest.cs
  NitroxClient/GameLogic/RemotePlayer.cs
  NitroxClient/MonoBehaviours/AnimationSender.cs
  NitroxPatcher/Patches/Dynamic/Player_TriggerInfectionRevealAsync_Patch.cs
Labels: Area: animation

#2107 Add basic sync for PvP
  Nitrox.Test/Patcher/Patches/PatchesTranspilerTest.cs
  NitroxClient/Communication/Packets/Processors/PvPAttackProcessor.cs
  NitroxModel/Packets/PvPAttack.cs
  NitroxPatcher/Patches/Dynamic/Knife_OnToolUseAnim_Patch.cs
  NitroxPatcher/Patches/Dynamic/LiveMixin_TakeDamage_Patch.cs
  NitroxServer/Communication/Packets/Processors/PvPAttackProcessor.cs
  NitroxServer/ConsoleCommands/PvpCommand.cs
  NitroxServer/GameLogic/PlayerManager.cs
  NitroxServer/Serialization/ServerConfig.cs
Labels: Area: player

#2227 Fix beacons not reappearing after reconnecting
  Nitrox.Test/Server/Serialization/WorldPersistenceTest.cs
  NitroxClient/GameLogic/InitialSync/StoryGoalInitialSyncProcessor.cs
  NitroxModel/DataStructures/GameLogic/InitialStoryGoalData.cs
  NitroxPatcher/Patches/Dynamic/CrashedShipExploder_Update_Patch.cs
  NitroxPatcher/Patches/Dynamic/StoryGoalScheduler_Schedule_Patch.cs
  NitroxServer/Communication/Packets/Processors/StoryGoalExecutedProcessor.cs
  NitroxServer/GameLogic/Unlockables/StoryGoalData.cs
  NitroxServer/Server.cs
Labels: Area: story

#2235 Add keep inventory server setting
  NitroxClient/Communication/Packets/Processors/Abstract/KeepInventoryChangedProcessor.cs
  NitroxClient/GameLogic/InitialSync/PlayerInitialSyncProcessor.cs
  NitroxClient/GameLogic/LocalPlayer.cs
  NitroxModel/Packets/InitialPlayerSync.cs
  NitroxModel/Packets/KeepInventoryChanged.cs
  NitroxPatcher/Patches/Dynamic/Inventory_LoseItems_Patch.cs
  NitroxServer/Communication/Packets/Processors/PlayerJoiningMultiplayerSessionProcessor.cs
  NitroxServer/ConsoleCommands/SetKeepInventoryCommand.cs
  NitroxServer/Serialization/ServerConfig.cs
Labels: Type: enhancement

#2247 Fix some entities wrongly treated by server
  NitroxServer-Subnautica/Resources/Parsers/PrefabPlaceholderGroupsParser.cs
  NitroxServer-Subnautica/Resources/ResourceAssets.cs
  NitroxServer-Subnautica/Resources/ResourceAssetsParser.cs
  NitroxServer-Subnautica/SubnauticaServerAutoFacRegistrar.cs
  NitroxServer/GameLogic/Bases/BuildingManager.cs
  NitroxServer/GameLogic/Entities/NitroxEntitySlot.cs
  NitroxServer/GameLogic/Entities/Spawning/BatchEntitySpawner.cs
  NitroxServer/GameLogic/Entities/WorldEntityManager.cs
  NitroxServer/Resources/PrefabPlaceholderAsset.cs
  NitroxServer/Resources/PrefabPlaceholdersGroupAsset.cs
  NitroxServer/Resources/RandomSpawnSpoofer.cs
  NitroxServer/Serialization/World/WorldPersistence.cs
Labels: Area: spawning

#2222 Fix internal clock desyncs
  NitroxClient/ClientAutoFacRegistrar.cs
  NitroxClient/Communication/NetworkingLayer/LiteNetLib/ClockSyncProcedure.cs
  NitroxClient/Communication/NetworkingLayer/LiteNetLib/LiteNetLibClient.cs
  NitroxClient/GameLogic/CorrectedTimeManager.cs
  NitroxClient/GameLogic/InitialSync/ClockSyncInitialSyncProcessor.cs
  NitroxClient/GameLogic/InitialSync/PdaInitialSyncProcessor.cs
  NitroxClient/GameLogic/Settings/NitroxPrefs.cs
  NitroxClient/GameLogic/Settings/NitroxSettingsManager.cs
  NitroxClient/GameLogic/TimeManager.cs
  NitroxClient/MonoBehaviours/Gui/Modals/InfoModal.cs
  NitroxClient/MonoBehaviours/Gui/Modals/Modal.cs
  NitroxModel/Networking/NtpSyncer.cs
  NitroxModel/Packets/TimeChange.cs
  NitroxServer/Communication/Packets/Processors/PlayerJoiningMultiplayerSessionProcessor.cs
  NitroxServer/GameLogic/TimeKeeper.cs
  NitroxServer/Serialization/World/WorldPersistence.cs
  NitroxServer/ServerAutoFacRegistrar.cs
Labels: Area: netcode

#2216 Enable "First Use Cinematics" on EscapePod
  NitroxClient/GameLogic/InitialSync/PlayerInitialSyncProcessor.cs
  NitroxClient/GameLogic/LocalPlayer.cs
  NitroxPatcher/Patches/Dynamic/EscapePodFirstUseCinematicsController_ReleaseCreature_Patch.cs
  NitroxPatcher/Patches/Persistent/EscapePodFirstUseCinematicsController_Initialize_Patch.cs
  NitroxPatcher/Patches/Persistent/EscapePodFirstUseCinematicsController_OnSceneObjectsLoaded_Patch.cs
Labels: Area: story

#2263 Fix objects spawning ignoring ClassId because of TechType cached prefab
  NitroxClient/GameLogic/Spawning/WorldEntities/DefaultWorldEntitySpawner.cs
Labels: Area: spawning
